<!-- templates/change_password.html -->
{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h2>Change Password</h2>
    <form method="post" action="{{ url_for('login_bp.change_password') }}">
        <p>Current Password: <input type="password" name="current_password"></p>
        <p>New Password: <input type="password" name="new_password"></p>
        <p>Confirm New Password: <input type="password" name="confirm_password"></p>
        <p><input type="submit" value="Change Password"></p>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

